* {
    font-family: sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
  }
  body {
    overflow-x: hidden;
  }
  #Home {
    background-image: url('image/game.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #Home h1 {
    color: white;
    position: absolute;
    font-size: 50px;
    z-index: 2;
    margin-top: 10px;
    -webkit-text-stroke:2px black;
  }
  #Home img {
    position: absolute;
    bottom: 0px;
  }
  #Mountain1 {
    position: absolute;
    margin-bottom: 106px;
    margin-left: 60px;
    width: 100%;
    pointer-events: none;
  }
  #Mountain2 {
    width: 100%;
    z-index: 3;
    pointer-events: none;
  }
  #leftCloud,
  #mainCloud,
  #rightCloud {
    top: 120px;
    width: 200px;
  }
  #leftCloud {
    left: 20px;
  }
  #rightCloud {
    right: 20px;
  }
  @keyframes loadAnimation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
#butn{
    text-decoration: none;
    display:flex;
    padding: 8px 30px;
    background: #ff0;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 20px;
    transform: translateY(100px); 
}
#butn:hover{
  background:#25D366;
}
  header nav {
    position: absolute;
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 4;
    padding: 30px 140px;
    font-size: 22px;
    animation: loadAnimation 2s;
  }
  header nav span {
    width: 50%;
    padding-right: 60px;
    display: flex;
    justify-content: space-around;
  }
  header nav span a {
    text-decoration: none;
    position: relative;
  }
  header nav span a::before {
    content: "";
    background-color: white;
    width: 0%;
    height: 2.5px;
    display: unset;
    position: absolute;
    border-radius: 20px;
    bottom: -5px;
    transition: 0.3s;
  }
  header nav span a:hover::before {
    width: 100%;
  }
  #About {
    background-color: #c20772;
    padding: 0px 100px;
    min-height: 100vh;
    font-size: 20px;
  }
  #About h1 {
    padding-top: 50px;
    font-size: 40px;
  }
  #About p{
      padding: 30px 0px;
  }
  .active{
      color: white;
  }
  .active::before{
      background-color: white;
      width: 100%;
  }
footer{
  display:inline-block;
  position: absolute;
  background-color: #c20772;
  height:500px;
  width: 100%;
}
.box1{
  display:inline-block;
  position: absolute;
  border-radius: 10px;
  outline: 5px solid #c20772;
  background-color: rgb(225, 180, 167 ,0.165);
  width: 30%;
  height:150px;
  margin-top:125px;
  margin-left:15%;
}
h3{
  display:flex;
  position:absolute;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  margin-left:20px;
  margin-top:11px;
}
.para{
  display: flex;
  position: absolute;
  font-size: 1.1em;
  width: 100%;
  align-items: center;
  margin-top:55px;
  margin-left:25px;
}
#click{
  text-decoration: none;
  display: flex;
  position: absolute;
  border-radius: 10px;
  color: black;
  background-color: rgb(249, 249, 149);
  outline:1px solid #ff0;
  margin-left: 45px;
  margin-top:110px;
}
#click:hover{
  color: #25D366;
  cursor: pointer;
}
.hidden{
  display:flex;
  position:absolute;
  right:178px;
  height: 400px;
}
.icon-tag{
  display: flex;
  position: absolute;
  bottom: 50px;
  width: 100%;
}